[SddmGreeterTheme]
Name=Glacé Shell
Description=A modern, glassmorphic personal SDDM theme with real-time wallpaper shader.
Author=Esteban David
Copyright=(c) 2026 Esteban David
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Esteban-maker66/GlaceShell
Screenshot=https://raw.githubusercontent.com/Esteban-maker66/GlaceShell/master/docs/screenshots/sddm1.png
MainScript=config/sddm/main.qml
ConfigFile=config/sddm/theme.conf
Theme-Id=GlaceShell